
.links_left_2{
    background-color: #151516;
    max-width: 300px;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: bottom center;     
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/collection/856079/computer);
    border-radius:  35px;
    margin: 10px;
}

.links_right_2{
    text-align: left;
    background-color: #161617;
    border-radius:  35px;
    margin: 10px;
}
.links_right_2:hover{
    transform: scale(1.2);
    transition: all .5s;
}

.links_left_cild_2{
    margin: auto;
    text-align: center;
    padding: 24px 20px;

    
}
.links_p{
    color: #ffffff;
    text-align: left;
    font-size: 21px;
}
.links_span{
    color: #ffffff;
   
    font-size: 21px;
}
.links_p_main{
    font-size: 35px;
    color: white;
}
.links_p_second{
    
    color: #a1a1a6;
    font-size: 25px;
}
.links_h2{
    color: white;
}


.links_person{
    background-color: #000000;
    padding: 48px;
    display: flex;
    justify-content: center;
    height: 250px;


}
@media only screen and (max-width: 767px){
    .links_person{
        flex-direction: column;
        font-size: 14px;
        margin: 0px;
        min-height: 300px;
        padding: 30px;
    }}

.links_h6{
    color: #ffffff;
    font-size: 21px;
    text-align: center;
}


 .links_right_cild_2{
    max-width: 100%;
    margin-top: 30px;
    margin: auto;
    text-align: left;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
  }

  .links_a{
    color: #a1a1a6;
    text-align: left;
    font-size: 17px;
    text-decoration: none;

}
.links_a:hover{
    color: #ffffff;
   

}

.links_span{
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 0px;
}
.links_path{
    color: rgb(225 60 65);
}