.not_back{
    background-image: linear-gradient( 109.6deg,  rgba(44,83,131,1) 18.9%, rgba(95,175,201,1) 91.1% );}
  .not_box{
    display: flex;
    margin: 67px 40px;
    justify-content: center;
    height: 500px;
  }
  @media only screen and (max-width: 767px){
    .not_box{
      flex-direction: column;
    font-size: 14px;
    margin: 0px;
    height:490px;
    padding: 30px;
     }
     }
  
  .not_inside{
    background-image: linear-gradient( 109.5deg, rgb(165 191 236) 11.2%, rgb(242 242 242) 100.2% );

    width: 49%;
    text-align: start;
    position: relative;
    align-items: center;
    display: grid;
    border-radius: 50px;

    
  }
  @media only screen and (max-width: 767px){
    .not_inside {
      width: 100%;
    }}

    .not_inside_cont{
        margin: 40px;
        text-align: center;
    
    }
   .not_h2{
       font-size: 100px;
   }